VITE_NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_R2_ACCOUNT_ID=
NUXT_R2_ACCESS_KEY_ID=
NUXT_R2_SECRET_ACCESS_KEY=

VITE_AMAZON_PRODUCT_ADVERTISING_API_ACCESS_KEY=
VITE_AMAZON_PRODUCT_ADVERTISING_API_SECRET_KEY=
