@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Noto Sans JP", "Roboto" "sans-serif", "Hiragino Sans", "Meiryo",
            "Hiragino Kaku Gothic ProN";
    }
}

body {
    overflow-x: hidden;
}

.marker {
    background: linear-gradient(transparent 60%, #ff6 60%);
}

.text-mute {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / 1);
    color: rgb(156 163 175 / var(--tw-text-opacity));
}
