@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", "sans-serif", "Hiragino Sans", "Meiryo", "Hiragino Kaku Gothic ProN";
    overflow-x: hidden;
}

.badge {
    text-wrap: nowrap;
}

.marker {
    background: linear-gradient(transparent 60%, #ffff6688 60%);
}

.line-through {
    text-decoration-line: line-through;
}
