@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family:
            "Noto Sans JP",
            "Roboto" "sans-serif",
            "Hiragino Sans",
            "Meiryo",
            "Hiragino Kaku Gothic ProN";
    }
}

body {
    overflow-x: hidden;
}

.badge {
    text-wrap: nowrap;
}

.marker {
    background: linear-gradient(transparent 60%, #ffff6688 60%);
}

.line-through {
    text-decoration-line: line-through;
}
