@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "mytheme";
    default: true; /* set as default */
    prefersdark: false;
    color-scheme: light;

    --color-primary: #535353;
    --color-primary-content: #ffffff;
    --color-secondary: #fde68a;
    --color-accent: #37cdbe;
    --color-neutral: #acacac;

    --radius-selector: 0;
    --radius-field: 0;
    --radius-box: 0;
}

body {
    font-family: "Roboto", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
    overflow-x: hidden;
}

.badge {
    text-wrap: nowrap;
}

.marker {
    background: linear-gradient(transparent 60%, #ffff6688 60%);
}

.line-through {
    text-decoration-line: line-through;
}

.key-black {
    @apply bg-gray-700 text-base-100;
}

.border {
    @apply border-base-300;
}

main ul {
    list-style: disc;
}

main ul li ul {
    padding-left: 1.5rem;
    list-style: circle;
}
